/*
    스타일 초기화(reset css)
    - 브라우저마다 태그를 해석하는 기본 스타일이 차이가 있다
    - 이를 통일해서 모든 브라우저에서 동일하게 화면을 보여주는 것이 목표
    - 직접 디자인을 하는 경우라면 이 초기화 작업이 반드시 필요
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}    


/*
    heading tag 크기 설정 => 왜 정하는가?
    - section, aside, article 내부에서는 브라우저마다 글자 크기가 다르게 해석
    - 이런 차이를 없애기 위해서 정하는 것!
*/
h1{
    font-size:2em;
}
h2{
    font-size:1.5em;
}
h3{
    font-size:1.17em;
}
h4{
    font-size:1em;
}
h5{
    font-size:0.83em;
}
h6{
    font-size:0.67em;
    }


/*
    폭설정방식과 폰트 설정
*/
* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
} 