<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.panda.mapper.AuctionMapper">
	
	<!-- 경매 상품 등록 -->
	<insert id="createAuction">
		insert into auction (auction_category,auction_title,auction_price,auction_detail,uploadFile,thumbnail,auction_condition,user_no)
		values (#{auction_category},#{auction_title},#{auction_price},#{auction_detail},#{uploadFile},#{thumbnail},#{auction_condition},#{user_no})
	</insert>
	
	<!-- 경매 상품 전체 목록 -->
	<select id="alistAll" resultType="AuctionVO">
		select * from auction 
		<if test="k!=null or s==5">
			where
		</if>
		<if test="k!=null">
			auction_title like concat('%',#{k},'%')
		</if>
		<if test="s==0">
			order by auction_date desc
		</if>
		<if test="s==1">
			order by auction_bid desc
		</if>
		<if test="s==2">
			order by auction_bid asc
		</if>
		<if test="s==3">
			order by auction_cdate desc
		</if>
		<if test="s==4">
			order by auction_viewcount desc
		</if>
		<if test="s==5">
			auction_bidok=1
		</if>
	</select>
	
	<!-- 경매 상품 조회수 1증가 -->
	<update id="updateViewcnt">
		update auction 
		   set auction_viewcount = auction_viewcount+1 
		 where auction_no = #{auction_no}
	</update>
	
	<!-- 경매번호 사용한 글정보 조회  -->
	<select id="getAuction" resultType="AuctionVO">
		select * from auction 
		 where auction_no = #{auction_no}
	</select>
	
	<!-- 사용자 정보 조회 -->
	<select id="getUser" resultType="AuctionVO">
      select A.*, B.* 
        from auction A join user B 
          on A.user_no = B.user_no
       where A.user_no = #{user_no}
   	</select>
   	
   	<!-- 경매번호, 회원번호 사용한 글정보 조회 -->
   	<select id="getAuctions" resultType="Map">
   		select A.*, B.*
   		  from auction A join user B
   		    on A.user_no = B.user_no
   		 where A.auction_no = #{auction_no}
   		   and B.user_no = #{user_no}
   	</select>
	
	<!-- 경매번호 사용한 글정보 수정 -->
	<update id="updateAuction">
		update auction
		   set auction_category=#{auction_category},auction_title=#{auction_title},
			   auction_price=#{auction_price},auction_detail=#{auction_detail}
		 where auction_no=#{auction_no}
	</update>
	
	<!-- 경매번호 사용한 글 삭제 -->
	<delete id="removeAuction">
		delete from auction
		 where auction_no = #{auction_no}
	</delete>
	
	<!-- 경매 상품 찜 업데이트 -->
	<update id="updateLike">
		update auction
  	       set auction_like = CASE WHEN #{auction_like}='0' THEN (select auction_like
  	                                                                from (select auction_like+1 auction_like 
  	    														            from auction 
  	    														           where auction_no = #{auction_no}) a)
					               ELSE (select a.auction_like from (select auction_like-1 as auction_like 
					            									   from auction 
					            								      where auction_no = #{auction_no}) a)
		 		                    END
 		 where auction_no = #{auction_no}
	</update>	
	
	<!-- 입찰하기 -->
	<update id="updateBid" parameterType="com.panda.domain.AuctionVO">
		update auction
		   set auction_bid=#{auction_bid}, 
		       auction_cnt=#{auction_cnt}+1
		 where auction_no=#{auction_no} 
	</update>
	
	<!-- 낙찰확인 -->
	<select id="finishBid" resultType="Map">
	   select count(1) as auction_bid_cnt
     		, sum(auction_bid) as auction_bid_sum
 		 from auction
		where auction_bidok=1
	</select>
	
	
</mapper>