<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.panda.mapper.AuctionMapper">
	
	<!-- 경매 상품 등록 -->
	<insert id="createAuction">
		insert into auction (auction_category,auction_title,auction_price,auction_detail)
		values (#{auction_category},#{auction_title},#{auction_price},#{auction_detail})
	</insert>
	
	<!-- 경매 상품 전체 목록 -->
	<select id="alistAll" resultType="AuctionVO">
		select * from auction
	</select>
	

</mapper>