<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.panda.mapper.AuctionMapper">
	
	<!-- 경매 상품 등록 -->
	<insert id="createAuction">
		insert into auction (auction_category,auction_title,auction_price,auction_detail)
		values (#{auction_category},#{auction_title},#{auction_price},#{auction_detail})
	</insert>
	
	<!-- 경매 상품 전체 목록 -->
	<select id="alistAll" resultType="AuctionVO">
		select * from auction
	</select>
	
	<!-- 경매 상품 조회수 1증가 -->
	<update id="updateViewcnt">
		update auction set auction_viewcount = auction_viewcount+1 
		where auction_no = #{auction_no}
	</update>
	
	<!-- 경매번호 사용한 글정보 조회  -->
	<select id="getAuction" resultType="AuctionVO">
		select * from auction 
		where auction_no = #{auction_no}
	</select>
	
	<!-- 사용자 정보 조회 -->
   	<select id="getUser" resultType="AuctionVO">
      SELECT A.*, B.* 
      FROM auction A join user B 
      on A.user_no = B.user_no
      where A.user_no = #{user_no};
   	</select>	
	
	
	
	
	
	

</mapper>