<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.mapper.BoardMapper">
	<!-- 글쓰기 -->
	<insert id="createBoard">
		insert into board(category,title,content)
		values
		(#{category},#{title},#{content})
	</insert>

	<!-- 글 목록 전체 -->
	<!-- 페이징처리+카테고 -->
	<select id="listAll" resultType="BoardVO">
 		 <![CDATA[
			select * from board 
			where bno>0 
			]]>
			<if test='p_category.equals("")'></if>
			<if test='p_category.equals("all")'></if>
			<if test='p_category.equals("notice")'>and category = #{p_category}</if>
			<if test='p_category.equals("event")'>and category = #{p_category}</if>
			<if test='p_category.equals("donate")'>and category = #{p_category}</if>
			 <![CDATA[
			order by bno desc, regdate desc
			limit #{pageStart},#{perPageNum}
			]]>
	</select>
	

	<!-- 조회수 증가 -->
	<update id="cnt">
		update board set viewcnt=viewcnt+1
		where bno=#{bno}
	</update>

	<!-- 글 내용 가져오기 -->
	<select id="content" resultType="BoardVO">
		select * from board
		where
		bno=#{bno}
	</select>

	<!-- 수정하기 -->
	<update id="modBoard">
		update board set title=#{title},content=#{content}
		where bno=#{bno}
	</update>

	<!-- 삭제하기 -->
	<delete id="remBoard">
		delete from board
		where bno=#{bno}
	</delete>

	<!-- 게시판 글전체 개수 -->
	<select id="countBoard" resultType="int">
		select count(bno) from board
	</select>
	
	

</mapper>