<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.mapper.ChatMapper">
	<select id="getRooms" resultType="map">
		select * from chat where (bang_id, msg_date) in (select bang_id, max(msg_date) as msg_date from chat group by bang_id) and (send_id=#{id} or receive_id=#{id}) order by bang_id
	</select>
	
	<insert id="test">
		insert into chat (send_id,receive_id,bang_id,message,goods_no) values("ddd","dd123","dfsadfasd12d","ddd12","12")
	</insert>
	
	<select id="getRoom" resultType="String">
		select bang_id from chat where (send_id=#{send_id} or send_id=#{receive_id}) and (receive_id=#{send_id} or receive_id=#{receive_id}) limit 1
	</select>
	
	<select id="getRecord" resultType="ChatVO">
		select * from chat where bang_id=#{bang_id}
	</select>
	
	<insert id="recordMsg">
		insert into chat (send_id,receive_id,bang_id,message,goods_no,msg_date,auction_no,msg_isUp) values(#{send_id},#{receive_id},#{bang_id},#{message},#{goods_no},#{msg_date},#{auction_no},1)
	</insert>
	
	<update id="sendUp">
		update chat set msg_isUp=0 where bang_id=#{bang_id}
	</update>
	
	<select id="getNewMsg" resultType="ChatVO">
		select * from chat where bang_id=#{bang_id} and send_id=#{send_id} and msg_isUp=1
	</select>
</mapper>